input:invalid {
  background: red;
}

input:valid {
  background: green;
}

input:optional {
	background: white;
}


body {
  padding: 3em;
}
label {
  display: block;
}
input {
  padding: 0.25em 0;
  margin-bottom: 0.75em;
}